@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    overflow-x : hidden;
}


header{
    width: 100%;
    height: 100vh;
    background : #f6f6f6;
    overflow : hidden;
   

}
.firstnav{
    width: 100%;
    height : 10em;
    background : rgb(71 85 94);
    position: relative;
    
}
.firstnav img{
    position : absolute;
    width : 10em;
    height : 10em;
    left : 50%;
    right : 50%;
    transform : translateX(-50%);
;
}
.secondnav{
    width : 100%;
    height : 4.5em;
    display : flex;
    align-items: center;
    justify-content: center;
 
   
}
.secondnav ul li{
    display : inline-block;
    margin : auto 2em;
  

}
.secondnav ul li a{
    color :rgb(71 85 94);
    font-weight : 600;
    transition : .2s ease;
}
.secondnav ul li a:hover{
    color : rgb(26, 26, 26);
    transition : .2s ease;
}

.header{
    width : 100%;
    height : 600px;
    background-image: url(../imgs/headerimg.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.lefthalf_header{
    height :600px;
    width : 50%;
    margin-left : 10em;
    padding-top : 5em;
    color : rgb(71 85 94);
}
.header h1{
    font-size : 3.6em;
}
.header button{
    padding : 1em 4em;
    outline : none;
    border : none;
    border-radius : 50px;
    cursor : pointer;
    background : rgb(216, 121, 43);
    font-weight : 600;
    transition : .5s ease;
    margin : 3em auto auto 10em;
    
}
.header a{
    color :   rgb(26, 26, 26);
}
.header a:hover,
.header a:focus,
.header a:active{
    color : white;
    transition : .5s ease;
}
.header button:hover{
    background : rgb(26, 26, 26);
    transition : .5s ease;

}
.active{
    color : white;
}



      /*collection*/

      .collection_container{
        row-gap: 20rem;
    }
    .collection_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        background :  rgb(71 85 94);
        transition: .3s;
        color : #f6f6f6;
        border-radius: 4px;
        box-shadow : 0 0px 20px rgba(0, 0, 0, 0.308);

    }
    .collection_box:hover{
        transform:translateY(-.5rem) ;
    }
    .collection_img{
        width: 310px;
        height: 400px;
    }
    .collection_title{
        padding: 0px 95px;
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    .collection_subtitle{
        font-size: 35px;
    }
    .collection_new{
        font-size: 1.25rem;
        color: rgb(216, 121, 43);
        padding-left: 80PX;
    }

    .collection_new:hover{
        text-decoration: underline;
    }
     
    /*--====FEATURED PRODUCTS====--*/
    .section-title{
        text-align: center;
        font-size:60PX;
        padding: 15PX;
        margin: 15PX;
        color : rgb(71 85 94);
    }
  section a h5{
      font-size: 20px;
      text-align: center;
      color: gray;
  }
    .container
{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card
{
    position: relative;
    width: 260px;
    height: 420px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/blurred-gray-background-brandon-bourdages.jpg);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.103);
}
.container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 1s ease;

}

.container .card:hover .imgBx
{
    transform: translateY(-100px);
    transition: 1s ease;
}

.container .card .imgBx img
{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 1s ease;

}

.container .card:hover .imgBx img
{
    transform: translate(-20px,-40px)rotate(-25deg) scale(1.4);
    transition: 1s ease;

}

.container .card .imgBx h2
{
    color: white;
    font-weight: 600;
}



.container .card .content
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content
{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}


.container .card .content .size,
.container .card .content .color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.container .card .content .size h3,
.container .card .content .color h3
{
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .content .size span
{
    width: 38px;
    height: 27px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: rgb(218, 218, 218);
    border-radius: 50%;
    font-size: 14px;
    margin: 0 5px;
    font-size: 500;
    transition: 0.5s;
    cursor: pointer;

}
.container .card .content .size span:hover
{
    background: rgba(216, 121, 43, 0.836);
}
.container .card .content .color span
{
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.container .card .content .color span:nth-child(2)
{
    background: black;
}
.container .card .content .color span:nth-child(3)
{
    background: red;
}
.container .card .content .color span:nth-child(4)
{
    background: rgba(216, 121, 43, 0.836);
}
.container .card .content a
{
   position: relative; 
   top: 10px;
   display: inline-block;
   padding: 12px 30px;
   background: rgba(216, 121, 43, 0.63);
   border-radius: 40px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #111;
   text-decoration: none;
   text-transform: uppercase;
   transition : .5s ease;
}
.container .card .content a:hover{
    background: rgba(167, 94, 35, 0.63);
    transition : .5s ease;

}
/*--=====offer=====--*/
.offer-bg{
    background:url(../imgs/OFFER.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.offer_data{
    padding: 9rem 10REM;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.offer_title{
    font-size: 100PX;
    letter-spacing: .2REM;
    text-transform: uppercase;
    font-weight: 600;
}
.offer_desc{
    margin-bottom: 5rem ;
    font-size: 3REM;
}
.button{
    border: none;
    outline : none;
    background: rgb(216, 121, 43);
    color: white;
    padding: 35PX;
    font-size: x-large;
    letter-spacing: 6PX;
    transition: .5s ease;

}
.button:hover{
    background: rgb(168, 94, 33);

    transition: .5s ease;
}
/*======= NEW ARRIVALS ========*/
.new_container{
    row-gap: 2rem;
}
.new_box{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.new_box:hover .new_link{bottom: 0;}
.new_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(216, 121, 43, 0.295);
    transition: 2s ease;
}
.new_container  ul li {
    margin: 0 auto;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .new_container  ul{
      margin-left: 12%;
      margin-bottom: 2%;
  }

  .new_img{
    width: 300px;
    height: 300px;
}
/*===========sponsors===========*/
.sponsors_container{
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    padding: 1.5rem 0;
    margin-left: 30%;
}
.sponsors_logo{
    display: flex;
    display: inline-block;  
}
.sponsors_logo img{
    width: 80px;
    filter: opacity(70%);
    margin: 20px;
    
}
.sponsors_logo img:hover{
    filter: none;
    cursor: pointer;
}
/*===========footer===========*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer{
    background : rgb(71 85 94);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 65px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h1{color: #ffffff;}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgba(216, 121, 43, 0.836);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #dadada;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: rgba(214, 117, 37, 0.993);
	transform: translateX(6PX);
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer_copy{
    padding: 5px;
    border-top:1px solid white ;
    color: white;
    font-size: 18px;
    text-align:center;
}
footer img{
    position: absolute;
    width: 250px;
    height: 90px;
    padding: 15px;
    left: 8%;
}



   
  
  
  